.lawnDarts{
	 background-color: beige;
}

div.transbox {
    margin: 30px;
    background-color: white;
    border: 1px solid gold;
    opacity: 0.9;
    filter: alpha(opacity=60);
}

#googleMaps{
	height: 263px;
	margin-top: 88px;

	iframe{
		width: 1246px;
    	height: 203px
	}
	.findUs{
	text-align: center;
    font-family: 'Prociono', serif;
	}
}

.profileUser{
	height: 200px;
	border-radius: 200px;
    margin-bottom: 35px;
}
.Comlogo{
	height: 230px;
}

nav{
	text-align: center;
}
.testimonyInfo{
	display:flex;
	justify-content: space-around;
	text-align:center;
}
.testimony{
	display: flex;
    justify-content: space-around;

}

#infoAPI{
	// border: 1px solid red;
	height: 300px;
	width: 500px;
	float: right;
}

.title{
	font-size: 30px;
	font-family: 'Prociono', serif;
	text-align: center;

	.script{
		font-size: 15px;
		font-family: 'Hind', sans-serif;
		text-align: center;
	}
}

#dartsImg{
	overflow: hidden;
	display: inline-block;
	position: relative;
	width: 600px;
	height: 400px;
	margin-bottom: 85px;

	ul{
		list-style: none;
	}
}

.testScript{
	// display: flex
}

.companyLt{
	display: flex;
    justify-content: space-between;
    margin-top: 53px;
}

a{
	color: black;
	font-size: 32px;
    margin-left: 7px;
}

#cart{
	margin-right: 216px;
    width: 106px;
    height: 39px;
    border-radius: 12px;
    font-family: 'Prociono', serif;
}
.boxed{
	width: 333px;
	font-family: 'Taviraj', serif;
}

#nameInfo{
		    font-size: 23px;
	}

h1{
	text-align: center;
    font-family: 'Prociono', serif;
    margin-top: 63px;
}
	

// .modal{
// 	 visibility: hidden;
//      position: absolute;
//      left: 0px;
//      top: 0px;
//      width:100%;
//      height:100%;
//      text-align:center;
//      z-index: 1000;
// }

// .infoBox{
//      width:300px;
//      margin: 100px auto;
//      background-color: #fff;
//      border:1px solid #000;
//      padding:15px;
//      text-align:center;
// }
footer{
	text-align: center;
    font-size: 12px;
    font-family: 'Prociono', serif;
}

.logoh1{
	display: inline-block
}














